# Joshua Chavez
## Week 10  3/19/24 
### LAMBDA functions, higher order functions: map(), filter() and reduce()

In [1]:
#lambda is a anomous function that is defined without a name 
#lamda args : expression
# it takes ant num of args: can only have one expression

In [2]:
def square(x):
    return x**2
square(12)

144

In [6]:
squaree = lambda X: X**2

result = squaree(5)
print(result)  # Output: 25

25

In [7]:
squaree(23)

529

In [9]:
larger = lambda x,y: x if x > y else y

In [10]:
larger(8,12)

12

In [11]:
# useing function in list compreheasions
txns = [1.09, 221,23,23.43,221,553,20.5]
TAX_RATE = 0.08

final_price = [(txn *(1+TAX_RATE)) for txn in txns]
final_price

[1.1772000000000002,
 238.68,
 24.840000000000003,
 25.3044,
 238.68,
 597.24,
 22.14]

In [16]:
def get_pricePT(value):
    return round (value * (1+ TAX_RATE),2)

In [17]:
final_price = [get_pricePT(txn) for txn in txns]
final_price

[1.18, 238.68, 24.84, 25.3, 238.68, 597.24, 22.14]

In [21]:
final_price = [ lambda price: round (value * (1+ TAX_RATE),2) for price in txns]
final_price

[<function __main__.<listcomp>.<lambda>(price)>,
 <function __main__.<listcomp>.<lambda>(price)>,
 <function __main__.<listcomp>.<lambda>(price)>,
 <function __main__.<listcomp>.<lambda>(price)>,
 <function __main__.<listcomp>.<lambda>(price)>,
 <function __main__.<listcomp>.<lambda>(price)>,
 <function __main__.<listcomp>.<lambda>(price)>]

In [22]:
# higehr order functions, such as map(), fillter , and reduce()
#it contaims other functions as a parmater or returns a function as an output map()

In [25]:
final_price = map(get_pricePT,txns)
final_price

In [26]:
final_price = list(map(get_pricePT,txns))
final_price

[1.18, 238.68, 24.84, 25.3, 238.68, 597.24, 22.14]

In [32]:

final_prices = list(map(lambda txn: round(txn * (1 + TAX_RATE), 2), txns))

print(final_prices)

[1.18, 238.68, 24.84, 25.3, 238.68, 597.24, 22.14]

In [33]:
nums =[1,2,3,4,4,3,2,2,34,34]
lst = [square(x) for x in nums]
lst

[1, 4, 9, 16, 16, 9, 4, 4, 1156, 1156]

In [34]:
lst = list(map(square,nums))
lst

[1, 4, 9, 16, 16, 9, 4, 4, 1156, 1156]

In [35]:
lst = list(map (lambda x:x**2, nums))
lst

[1, 4, 9, 16, 16, 9, 4, 4, 1156, 1156]

In [36]:
nums

[1, 2, 3, 4, 4, 3, 2, 2, 34, 34]

In [1]:
words = ["Ford", "GMC",'Toyota',"BMW","Mazda"]

In [3]:
list(map(lambda w:'Even' if len(w)%2 == 0 else w[:2], words))

['Even', 'GM', 'Even', 'BM', 'Ma']

In [4]:
list(map(lambda w:'Even' if len(w)%2 == 0 else w[::-1], words))

['Even', 'CMG', 'Even', 'WMB', 'adzaM']

In [5]:
# filter()
# The filter () functions extracts elementes from
# an itretable (list, tupel, ect) for witch a function returns true>

# FORMAT:
# filter( function, iterable)

In [10]:
def evenNum (num):
    return num%2 ==0

In [11]:
nums = [1,5,4,6,43,32,11,21,123,23,4323,2342,6,5,54442]
list(filter(evenNum,nums))

[4, 6, 32, 2342, 6, 54442]

In [12]:
tuple(filter(evenNum,nums))

(4, 6, 32, 2342, 6, 54442)

In [13]:
set((filter(evenNum,nums)))

{4, 6, 32, 2342, 54442}

In [14]:
range(100)

range(0, 100)

In [15]:
set(range(100))

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99}

In [19]:
set(map(lambda n: n%2 == 0,nums))

{False, True}

In [22]:
letters = ['a','b','c','d','o','g']
vowels ='aeiou'
list(filter(lambda b: b in vowels ,letters))

['a', 'o']

In [31]:
import functools

def prod(x, y):
    return x * y

nums = [1, 2, 3, 4, 5]  # Assuming nums is defined somewhere

result = functools.reduce(prod, nums,2)
print(result)

240

In [29]:
reduce(prod, nums,3)

NameError: name 'reduce' is not defined

In [33]:
from functools import reduce

lst = [1, 2, 3, 4, 5]

result = reduce(lambda x, y: x * y + 2, lst)
print(result)

292

In [41]:
 reduce(lambda x, y: x if x < y else y, lst)

1

In [43]:
 reduce(lambda x, y: x if x > y else y, lst)

5

In [45]:
words = ["Ford", "GMC",'Toyota',"BMW","Mazda"]
reduce( lambda x,y: x if len(x)< len(y) else y, words)

'BMW'

In [47]:
reduce( lambda x,y: x if len(x)> len(y) else y, words)

'Toyota'