# Joshua Chavez
## Week 6 2/20/2024- 2/22/2024
### Python - For Loop

**Genral For loops format:**

<code> for item in object:
    staments to do work </code>

In [1]:
sc = [0,1,2,3,4,5,6,7,8,9,10]

In [2]:
sc

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
for n in sc:
    print (f'n = {n}')

n = 0
n = 1
n = 2
n = 3
n = 4
n = 5
n = 6
n = 7
n = 8
n = 9
n = 10

In [4]:
for n in sc[::-1]:

n = 10
n = 9
n = 8
n = 7
n = 6
n = 5
n = 4
n = 3
n = 2
n = 1
n = 0

In [8]:
#print the even or odd numbers in the list
for n in sc:
    if(n%2 == 0):
        print (f'n = {n} is even')
    else:
        print (f'n = {n} is odd')

n = 0 is even
n = 1 is odd
n = 2 is even
n = 3 is odd
n = 4 is even
n = 5 is odd
n = 6 is even
n = 7 is odd
n = 8 is even
n = 9 is odd
n = 10 is even

In [13]:
even = []
odd = []
for n in sc:
    if(n%2 == 0):
       even.append(n)
    else:
       odd.append(n)

In [14]:
even

[0, 2, 4, 6, 8, 10]

In [15]:
odd

[1, 3, 5, 7, 9]

In [23]:
sum = 0
for n in sc:
   sum = n + sum
print(sum) 
print(len(sc))
avg=  sum/len(sc)
print (avg)

55
11
5.0

In [36]:
for letter in "I am a sudent in cis310!":
    if not letter.isspace:
        print(letter, end='')

In [38]:
#tupel 
t = (1,5,3,2,5,14)
for n in t:
    print(n)

1
5
3
2
5
14

In [39]:
#set 
s = (2,6,43,2,21,26)
for n in s:
    print(n)

2
6
43
2
21
26

In [41]:
lst1 = ['red', 'blue', 'green','yellow']
lst2 = [10,8,5,9]
lst = list(zip(lst1,lst2))

In [42]:
lst

[('red', 10), ('blue', 8), ('green', 5), ('yellow', 9)]

In [43]:
for item in lst:
    print(item)

('red', 10)
('blue', 8)
('green', 5)
('yellow', 9)

In [44]:
for (t1,t2) in lst:
    print(t1)

red
blue
green
yellow

In [46]:
for (t1,t2) in lst:
    print(t2)

10
8
5
9

In [48]:
for item in lst:
    print(item[0])

red
blue
green
yellow

In [49]:
for item in lst:
    print(item[-1])

10
8
5
9

In [50]:
d = {"brand": "Ford", "model": "mustang", 'year':1964}

In [51]:
d.keys()

dict_keys(['brand', 'model', 'year'])

In [53]:
d.values()

dict_values(['Ford', 'mustang', 1964])

In [54]:
d.items()

dict_items([('brand', 'Ford'), ('model', 'mustang'), ('year', 1964)])

In [55]:
for item in d:
    print(item)

brand
model
year

In [57]:
for item in d.values():
    print(item)

Ford
mustang
1964

In [58]:
for item in d:
    print(d[item])

Ford
mustang
1964

In [59]:
for item in d.items():
    print(item)

('brand', 'Ford')
('model', 'mustang')
('year', 1964)

In [60]:
#gives you both

In [61]:
for item in d.items():
    print(item[1])

Ford
mustang
1964

In [64]:
for k,v in d.items():
    print(k)

brand
model
year

In [65]:
for k,v in d.items():
    print(v)

Ford
mustang
1964

In [70]:
for k,v in d.items():
    print(k, v)

brand Ford
model mustang
year 1964

In [71]:
#break and continue

In [3]:
fruits = ['Apple', 'Banana', 'Grape' , 'Pear', 'Orange', 'Cherry']
for f in fruits:
    print(f)

Apple
Banana
Grape
Pear
Orange
Cherry

In [6]:
for f in fruits:
    print(f)
    if f == 'Pear':
        break

Apple
Banana
Grape
Pear

In [11]:
# continue keyword
for f in fruits:
    if f == 'Pear':
        continue
    print(f)

Apple
Banana
Grape
Orange
Cherry

In [10]:
for f in fruits:
    if f == 'Pear':
        continue
    print(f)

Apple
Banana
Grape
Orange
Cherry

In [12]:
t = (10,9,3,4,23,44,100)
for n in t:
    if n%2 != 0:
        continue
    print(n)

10
4
44
100

In [ ]:
#py