# Joshua Chavez
## Week 5  2/15/2024 - 2/20/2024
### Python Staments- if-else -else if

** the format of the if stament**
'''
if condintion1:
perform action1
elid condition2:
preform action2
else:
preform action3
'''

In [5]:

value = 5
if value ==5:
    print("High Five!")

High Five!

In [7]:
value = 6
if value ==5:
    print("High Five!")
else:
    print("NOPE")

NOPE

In [17]:
test1 = 91
test2 = 98
if(test1<test2):
    print(f"you can retake test 1{test1}")
else:
    print(f"redo test2 {test2}")

you can retake test 191

In [19]:
if(test1<test2):
    print(f"you can retake test1 {test1}")
elif test2 <test1:
    print(f"redo test2 {test2}")
else:
    print("score are equal")

you can retake test1 91

In [34]:
s = "colorado"

In [35]:
if s == 'colorado':
    print("Welcome to Colorado")
elif s == "flordia":
     print("Welcome to Flordia")
elif s == 'texas':
    print("Welcome to texas")
elif s == "utah":
     print("Welcome to Utah")
else:
    "welcome to earth"

Welcome to Colorado

In [36]:
Welcome = {"colorado":"Welcome to Colorado", "flordia":"Welcome to Flordia","texas":"Welcome to texas", 'utah':"Welcome to Utah"
}

In [37]:
Welcome

{'colorado': 'Welcome to Colorado',
 'flordia': 'Welcome to Flordia',
 'texas': 'Welcome to texas',
 'utah': 'Welcome to Utah'}

In [38]:
Welcome[s]

'Welcome to Colorado'

In [39]:
Welcome.get(s, "Welcome to earth")

'Welcome to Colorado'

In [40]:
s= "meow"

In [41]:
Welcome.get[s]

KeyError: 'meow'

In [1]:
Welcome.get(s, "Welcome to earth")

NameError: name 'Welcome' is not defined

In [4]:
#shotcut one-line if statement
test1,test2 = 81, 79
print("redo test2") if test1> test2 else print ("redo test1")

redo test2

In [6]:
 'c' in 'cis310'

True

In [7]:
5 in [1,2,3,4,5,6,7,8]

True

In [8]:
if 'c' in 'cis310': print(3); print(2);print(1)

3
2
1

In [12]:
#useing if inside print stament
raining=False
print("Lets go ", 'swiming' if not raining else 'running')

Lets go  swiming

In [13]:
raining=True
print("Lets go ", 'swiming' if not raining else 'running')

Lets go  running

In [14]:
age = 12 
s = 'minor' if age < 18 else 'adult'

In [15]:
s

'minor'

In [16]:
if age < 18: 
    s = 'minor'
else:
    s = 'adult'

In [17]:
s

'minor'

In [18]:
age = 34

In [19]:
s

'minor'

In [20]:
if age < 18: 
    s = 'minor'
else:
    s = 'adult'

In [21]:
s

'adult'

In [22]:
#and/or logical operatiors
s1,s2,s3 = 89,75,92

In [24]:
if (s1>s2) and (s3 > s2): print ('Both conditions are true')

Both conditions are true

In [25]:
if (s1>s2) or (s3 > s2): print ('At least one condition is true')

At least one condition is true