# Joshua Chavez
## Week 7  2/27/24
### Python - py_list+set_dict-Comprehension

## List Compresehension Format:
- <code> new_list = [expression ** for member in iterable**]<code/>
    
### Using Condinal Logic ( filter and Map)
    
- filter:<code>new_list = [expression ** for member iin iterable** (if conditional)]<code/>
    
- map:<code>new_list = [expression (if conditional) ** for member iin iterable**]<code/>

In [6]:
s = "Welcome to CIS310"

In [7]:
lst = []

In [9]:
for letter in s:
    lst.append(letter)
    
lst

['W',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 ' ',
 't',
 'o',
 ' ',
 'C',
 'I',
 'S',
 '3',
 '1',
 '0',
 'W',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 ' ',
 't',
 'o',
 ' ',
 'C',
 'I',
 'S',
 '3',
 '1',
 '0']

In [11]:
# new_list = [expression ** for member in iterable**]
lst = [letter for letter in s]
lst

['W',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 ' ',
 't',
 'o',
 ' ',
 'C',
 'I',
 'S',
 '3',
 '1',
 '0']

In [13]:
square = []
for n in range (1,11):
    square.append(n**2)
    
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
# new_list = [expression ** for member in iterable**]
square = [n**2 for n in range (1,11)]
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
c_lst = [12.2, 13, 16, 21, 4.6]
f_lst = [t * (9/5) + 32 for t in c_lst]

print(f_lst)

[53.96, 55.400000000000006, 60.8, 69.80000000000001, 40.28]

In [22]:
c_lst = [12.2, 13, 16, 21, 4.6]
f_lst = [t * (9/5) + 32 for t in c_lst]

print(f_lst)

[53.96, 55.400000000000006, 60.8, 69.80000000000001, 40.28]

In [26]:
#calculate the price affter tax 
txns = [12.3,1.2,3.33,12,10,1]
tax_rate = .08
final_prices=[t*(1+tax_rate)for t in txns]
final_prices

[13.284000000000002, 1.296, 3.5964000000000005, 12.96, 10.8, 1.08]

In [3]:
# filter:new_list = [expression ** for member in iterable** (if conditional)]
squares = [n**2 for n in range (1,16) if n%2 ==0 ]
squares

[4, 16, 36, 64, 100, 144, 196]

In [5]:
lst = [n for n in range (101) if n%5 ==0 if n%10 ==0 ]
lst

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [12]:
s = "CIS310 comunicate students wih analytical thinking"
vowels = 'aeiou'
lst = [letter for letter in s if letter.lower() in vowels ]
lst

['I', 'o', 'u', 'i', 'a', 'e', 'u', 'e', 'i', 'a', 'a', 'i', 'a', 'i', 'i']

In [14]:
'a'.islower()

True

In [16]:
#map a value :new_list = [expression (if conditional) ** for member in iterable**]
prices = [1.25, 14.99,-9.45,3.78,-5.76,11.20]
new_prices = [v if v> 0 else 0 for v in prices]
new_prices

[1.25, 14.99, 0, 3.78, 0, 11.2]

In [19]:

lst = ["even" if n%2==0 else 'odd' for n in range(1,16)]
lst

['odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd']

In [22]:
#comditional logic - and or
s=" Stuides found that finacial impacr of poor-quality data cost $3.1 trillion"
vowels = 'aeiou'
consonats = [letters for letters in s if letters.isalpha() and letters.lower() not in vowels]
consonats

['S',
 't',
 'd',
 's',
 'f',
 'n',
 'd',
 't',
 'h',
 't',
 'f',
 'n',
 'c',
 'l',
 'm',
 'p',
 'c',
 'r',
 'f',
 'p',
 'r',
 'q',
 'l',
 't',
 'y',
 'd',
 't',
 'c',
 's',
 't',
 't',
 'r',
 'l',
 'l',
 'n']

In [23]:
#nested list comprehemsions
lst = [n**2 for n in[num for num in range(20) if num%2 == 0]]
lst

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [24]:
#Useing set and Dictomnary Compreshension 
s = {n for n in range (15)}
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [26]:
s = "data preperatioon consumes an amount of time 80% spent on analytics"
set_of_vowels = {letter for letter in s if letter in 'aeiou'}
set_of_vowels

{'a', 'e', 'i', 'o', 'u'}

In [32]:

dt = {n:tuple(range(n)) for n in range(10)}
dt

{0: (),
 1: (0,),
 2: (0, 1),
 3: (0, 1, 2),
 4: (0, 1, 2, 3),
 5: (0, 1, 2, 3, 4),
 6: (0, 1, 2, 3, 4, 5),
 7: (0, 1, 2, 3, 4, 5, 6),
 8: (0, 1, 2, 3, 4, 5, 6, 7),
 9: (0, 1, 2, 3, 4, 5, 6, 7, 8)}

In [39]:
cites=["Denver",'Durango','Ashville','Narobi','Paris']
temps =  {n:tuple(range(40,50)) for n in cites}
temps

{'Denver': (40, 41, 42, 43, 44, 45, 46, 47, 48, 49),
 'Durango': (40, 41, 42, 43, 44, 45, 46, 47, 48, 49),
 'Ashville': (40, 41, 42, 43, 44, 45, 46, 47, 48, 49),
 'Narobi': (40, 41, 42, 43, 44, 45, 46, 47, 48, 49),
 'Paris': (40, 41, 42, 43, 44, 45, 46, 47, 48, 49)}

In [46]:
from random import randint
cites=["Denver",'Durango','Ashville','Narobi','Paris']
temps =  {name:randint(40,50) for name in cites}
temps

{'Denver': 40, 'Durango': 41, 'Ashville': 40, 'Narobi': 45, 'Paris': 45}

In [58]:
l = [1,2,1,3,2,12,4,2,4]
d = {1: 'yes', 2: "no"}#get(),idle
lst = [d.get(n, 'idel') for n in l]
lst

['yes', 'no', 'yes', 'idel', 'no', 'idel', 'idel', 'no', 'idel']

In [59]:
d.get(3)

In [60]:
d.get(1)

'yes'

In [61]:
d.get(1,"idel")

'yes'

In [63]:
d.get(21,"idel")

'idel'

In [66]:
l = [1, 2, 1, 3, 2, 12, 4, 2, 4]
lst = ['yes' if n == 1 else 'no' if n == 2 else 'idle' for n in l]
print(lst)

['yes', 'no', 'yes', 'idle', 'no', 'idle', 'idle', 'no', 'idle']

In [69]:
x = [5,2,1,2,3,4,2,1,3]# 4= accept, 1= reject , pending anything else
d = {1: 'reject', 4: "acccept"}#get(),idle
lst = [d.get(n, 'Pending') for n in x]
lst

['Pending',
 'Pending',
 'reject',
 'Pending',
 'Pending',
 'acccept',
 'Pending',
 'reject',
 'Pending']