# Joshua Chavez
## Week 10  3/19/24 
### LAMBDA functions, higher order functions: map(), filter() and reduce()

In [1]:
#lambda is a anomous function that is defined without a name 
#lamda args : expression
# it takes ant num of args: can only have one expression

In [2]:
def square(x):
    return x**2
square(12)

144

In [6]:
squaree = lambda X: X**2

result = squaree(5)
print(result)  # Output: 25

25

In [7]:
squaree(23)

529

In [9]:
larger = lambda x,y: x if x > y else y

In [10]:
larger(8,12)

12

In [11]:
# useing function in list compreheasions
txns = [1.09, 221,23,23.43,221,553,20.5]
TAX_RATE = 0.08

final_price = [(txn *(1+TAX_RATE)) for txn in txns]
final_price

[1.1772000000000002,
 238.68,
 24.840000000000003,
 25.3044,
 238.68,
 597.24,
 22.14]

In [16]:
def get_pricePT(value):
    return round (value * (1+ TAX_RATE),2)

In [17]:
final_price = [get_pricePT(txn) for txn in txns]
final_price

[1.18, 238.68, 24.84, 25.3, 238.68, 597.24, 22.14]

In [21]:
final_price = [ lambda price: round (value * (1+ TAX_RATE),2) for price in txns]
final_price

[<function __main__.<listcomp>.<lambda>(price)>,
 <function __main__.<listcomp>.<lambda>(price)>,
 <function __main__.<listcomp>.<lambda>(price)>,
 <function __main__.<listcomp>.<lambda>(price)>,
 <function __main__.<listcomp>.<lambda>(price)>,
 <function __main__.<listcomp>.<lambda>(price)>,
 <function __main__.<listcomp>.<lambda>(price)>]

In [22]:
# higehr order functions, such as map(), fillter , and reduce()
#it contaims other functions as a parmater or returns a function as an output map()

In [25]:
final_price = map(get_pricePT,txns)
final_price

In [26]:
final_price = list(map(get_pricePT,txns))
final_price

[1.18, 238.68, 24.84, 25.3, 238.68, 597.24, 22.14]

In [32]:

final_prices = list(map(lambda txn: round(txn * (1 + TAX_RATE), 2), txns))

print(final_prices)

[1.18, 238.68, 24.84, 25.3, 238.68, 597.24, 22.14]

In [33]:
nums =[1,2,3,4,4,3,2,2,34,34]
lst = [square(x) for x in nums]
lst

[1, 4, 9, 16, 16, 9, 4, 4, 1156, 1156]

In [34]:
lst = list(map(square,nums))
lst

[1, 4, 9, 16, 16, 9, 4, 4, 1156, 1156]

In [35]:
lst = list(map (lambda x:x**2, nums))
lst

[1, 4, 9, 16, 16, 9, 4, 4, 1156, 1156]

In [36]:
nums

[1, 2, 3, 4, 4, 3, 2, 2, 34, 34]