# Joshua Chavez
## Week 4 -  2/6/2024 -  2/8/2024
### Python- Built-in data Structures- Dictionary

- Dictionary is a collection that is unorderd and unchagable 
- Dictionaries store data values in key: value pairs.
- No Duplicates - Cannot have two items with the same key
- Changeable - Can Chane, add or remove items affer the dictionary is created using keys.

In [5]:
dct1= {'k1':'value1', 'k2':'value2', 'k3':'value3'}

In [6]:
type(dct1)

dict

In [7]:
len(dct1)

3

In [8]:
dict_keyS(['k1','k2','k3'])

NameError: name 'dict_keyS' is not defined

In [9]:
car = {'Brand':"Toyota", "model":"Tacoma",'Year':2010}

In [10]:
car['Brand']

'Toyota'

In [11]:
car['model']

'Tacoma'

In [12]:
car

{'Brand': 'Toyota', 'model': 'Tacoma', 'Year': 2010}

In [13]:
cis = {'no':5, 'cis':[200,240,340,310,350], 'crn':{"001",'002','003','004','005'}}

In [14]:
cis

{'no': 5,
 'cis': [200, 240, 340, 310, 350],
 'crn': {'001', '002', '003', '004', '005'}}

In [15]:
cis['crn']

{'001', '002', '003', '004', '005'}

In [16]:
cis['no']

5

In [17]:
cis['ins']= {'Dr. Joe', 'Dr. Ben'}

In [18]:
cis

{'no': 5,
 'cis': [200, 240, 340, 310, 350],
 'crn': {'001', '002', '003', '004', '005'},
 'ins': {'Dr. Ben', 'Dr. Joe'}}

In [19]:
cis['no']= 8

In [20]:
cis

{'no': 8,
 'cis': [200, 240, 340, 310, 350],
 'crn': {'001', '002', '003', '004', '005'},
 'ins': {'Dr. Ben', 'Dr. Joe'}}

In [21]:
cis['cis'][-2]

310

In [22]:
cis['ins'][1].upper()

TypeError: 'set' object is not subscriptable

In [23]:
cis['cis'].append(413)

In [24]:
cis

{'no': 8,
 'cis': [200, 240, 340, 310, 350, 413],
 'crn': {'001', '002', '003', '004', '005'},
 'ins': {'Dr. Ben', 'Dr. Joe'}}

In [25]:
cis['Collage']= 'COB'

In [26]:
cis

{'no': 8,
 'cis': [200, 240, 340, 310, 350, 413],
 'crn': {'001', '002', '003', '004', '005'},
 'ins': {'Dr. Ben', 'Dr. Joe'},
 'Collage': 'COB'}

In [27]:
cis['Collage']= 'Bio'

In [29]:
cis

{'no': 8,
 'cis': [200, 240, 340, 310, 350, 413],
 'crn': {'001', '002', '003', '004', '005'},
 'ins': {'Dr. Ben', 'Dr. Joe'},
 'Collage': 'Bio'}

In [30]:
dict2={}

In [33]:
dict2['fruit'] ='apple'
dict2['number']='6'

In [34]:
dict2

{'fruit': 'apple', 'number': '6'}

In [35]:
dict2['taste']= 'sweet', 'salty','gross'

In [36]:
dict2

{'fruit': 'apple', 'number': '6', 'taste': ('sweet', 'salty', 'gross')}

In [39]:
#set
w = {'who','who','where','there'}

In [40]:
w

{'there', 'where', 'who'}

In [41]:
dict2['Words']= w

In [42]:
dict2

{'fruit': 'apple',
 'number': '6',
 'taste': ('sweet', 'salty', 'gross'),
 'Words': {'there', 'where', 'who'}}

In [44]:
numbers = [10,4,12,23,43,54,9]

In [45]:
dict2['n']=numbers

In [46]:
dict2

{'fruit': 'apple',
 'number': '6',
 'taste': ('sweet', 'salty', 'gross'),
 'Words': {'there', 'where', 'who'},
 'n': [10, 4, 12, 23, 43, 54, 9]}

In [47]:
#nested dictionarys 
dict3 = {'k1':{'k2':{'k3': 'value1'}}, 'k4':{'k5':555},'k6':66}

In [48]:
len(dict3)

3

In [49]:
dict3

{'k1': {'k2': {'k3': 'value1'}}, 'k4': {'k5': 555}, 'k6': 66}

In [52]:
dict3['k4']

{'k5': 555}

In [53]:
dict3['k4']['k5']

555

In [54]:
dict3['k1']['k2']['k3']

'value1'

In [55]:
myFamily = {'child1':{'name': 'jen', 'Dob': "10/09/2002"},
           'child2':{'name': 'Ben', 'Dob': "10/09/2302"},
            'child3':{'name': 'Marry', 'Dob': "12/09/2002"},
            'spouse':{'name': 'Max', 'Dob': "10/09/2000"}}

In [56]:
myFamily

{'child1': {'name': 'jen', 'Dob': '10/09/2002'},
 'child2': {'name': 'Ben', 'Dob': '10/09/2302'},
 'child3': {'name': 'Marry', 'Dob': '12/09/2002'},
 'spouse': {'name': 'Max', 'Dob': '10/09/2000'}}

In [57]:
myFamily['child2']

{'name': 'Ben', 'Dob': '10/09/2302'}

In [58]:
myFamily['child2']['name']

'Ben'

In [68]:
myFamily ['spouse']['Dob']

'10/09/2000'

In [65]:
myFamily['child3']['Dob']

'12/09/2002'

In [66]:
myFamily['child3']['Dob'] = "01/21/1998"

In [67]:
myFamily

{'child1': {'name': 'jen', 'Dob': '10/09/2002'},
 'child2': {'name': 'Ben', 'Dob': '10/09/2302'},
 'child3': {'name': 'Marry', 'Dob': '01/21/1998'},
 'spouse': {'name': 'Max', 'Dob': '10/09/2000'}}

In [69]:
myFamily.pop('child3')

{'name': 'Marry', 'Dob': '01/21/1998'}

In [70]:
myFamily

{'child1': {'name': 'jen', 'Dob': '10/09/2002'},
 'child2': {'name': 'Ben', 'Dob': '10/09/2302'},
 'spouse': {'name': 'Max', 'Dob': '10/09/2000'}}

In [71]:
car

{'Brand': 'Toyota', 'model': 'Tacoma', 'Year': 2010}

In [73]:
car.popitem()

('Year', 2010)

In [74]:
car.popitem()

('model', 'Tacoma')

In [75]:
back = myFamily.copy()

In [76]:
back

{'child1': {'name': 'jen', 'Dob': '10/09/2002'},
 'child2': {'name': 'Ben', 'Dob': '10/09/2302'},
 'spouse': {'name': 'Max', 'Dob': '10/09/2000'}}

In [77]:
myFamily['spouse']['name']= 'Juan'

In [78]:
myFamily

{'child1': {'name': 'jen', 'Dob': '10/09/2002'},
 'child2': {'name': 'Ben', 'Dob': '10/09/2302'},
 'spouse': {'name': 'Juan', 'Dob': '10/09/2000'}}

In [79]:
back2 = myFamily

In [82]:
myFamily= ['child1']['name']= "Jose"

TypeError: list indices must be integers or slices, not str

In [83]:
#rename kwy 
my_dict = {'apple':1, 'banna': 2, 'Orange': 3}

In [84]:
my_dict

{'apple': 1, 'banna': 2, 'Orange': 3}

In [90]:
my_dict ['prear']= my_dict.pop('banna')

In [91]:
#CASTING AND NESATING COLLECTIONS
#SET
s = {1,30,12,'c', 'Allice','john', {1,2}}

TypeError: unhashable type: 'set'

In [92]:
s.add(12345)

NameError: name 's' is not defined

In [93]:
s

NameError: name 's' is not defined

In [97]:
ls = [2,3,4,5,(5,5,5,(3,24,53,44,34),1)]

In [98]:
ls[-1]

(5, 5, 5, (3, 24, 53, 44, 34), 1)

In [99]:
lst = ['one','two','three']

In [100]:
lst

['one', 'two', 'three']

In [104]:
lst=list(ls)

In [105]:
lst

[2, 3, 4, 5, (5, 5, 5, (3, 24, 53, 44, 34), 1)]

In [106]:
tp = tuple(lst)

In [107]:
tp

(2, 3, 4, 5, (5, 5, 5, (3, 24, 53, 44, 34), 1))

In [108]:
d = dict(s)

NameError: name 's' is not defined

In [109]:
ls = list(lst)

In [110]:
ls

[2, 3, 4, 5, (5, 5, 5, (3, 24, 53, 44, 34), 1)]

In [111]:
ls =list(myFamily)

In [112]:
ls

['J', 'o', 's', 'e']

In [113]:
myFamily

'Jose'

In [114]:
ls = list(my_dict)

In [115]:
ls

['apple', 'Orange', 'prear']

In [116]:
ls = list(my_dict.values())

In [117]:
ls

[1, 3, 2]

In [118]:
ls = list(my_dict.items())

In [119]:
ls

[('apple', 1), ('Orange', 3), ('prear', 2)]

In [124]:
tp = tuples(ls = list(my_dict.values())

SyntaxError: unexpected EOF while parsing (<ipython-input-124-bc9203ce67b5>, line 3)

In [125]:
s = set(my_dict.values())

In [126]:
s

{1, 2, 3}